<div class="container cv-page">

  <header class="header">
    <a class="go-back" data-type="page-transition" href="index">Go Back</a>
  </header>

  <main class="main-content main-cv">

    <div class="my-cv-holder">

      <h3>CV Mark Verheij</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ornare arcu sed dui faucibus interdum a et nibh.
        Morbi rutrum odio ac ipsum volutpat, vitae malesuada porttitor.</p>
      <a class="btn btn-blue">Download CV</a>

      <div class="timeline">



        <div class="timeline-line">
            <svg height="210" width="500">
              <line x1="600" y1="0" x2="500" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
            </svg>
        </div>

        <div class="time-line-row">
          <div class="left-timeline">

            <div class="period" id="1">
              2006 - 2008
            </div>

          </div>
          <div class="timeline-dot"><div class="dot"></div></div>
          <div class="right-timeline">
            <h4>Opleiding</h4>
            <div class="detail" id="2">
              Libanon Lyceum Rotterdam<br>
              <span>VMBO TL</span>
            </div>

          </div>
        </div>

        <div class="time-line-row">
          <div class="left-timeline">

            <div class="period" id="1">
              2008 - 2012
            </div>

          </div>
          <div class="timeline-dot last"><div class="dot"></div></div>
          <div class="right-timeline">

            <div class="detail" id="2">
              Grafisch Lyceum Rotterdam<br>
              <span>Design & Technolgy</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

</div>