<div class="container index-page">

  <header class="header">
    <div class="title">
      <h1>Mark Verheij</h1>

      <h2>Entrepeneur, designer and developer</h2>
    </div>
  </header>

  <main class="main-content">
    <div class="cv-holder">
      <div class="cv">
        <h3>Bekijk CV</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aliquam ornare arcu sed dui faucibus interdum a et nibh.
          Morbi rutrum odio ac ipsum volutpat, vitae malesuada porttitor.</p>
        <a class="btn btn-blue" data-type="page-transition" href="cv">Bekijk CV</a>
      </div>
    </div>
    <div class="projects-holder">
      <div class="project">
        <h3>Projects</h3>
        <div class="projects">
          <div class="item">WebinarGeek</div>
          <div class="item">123broodje.nl</div>
        </div>
      </div>
    </div>
  </main>

</div>